// src/css/quasar.variables.scss

$primary   : #00adb5;
$secondary : #eeeeee;
$accent    : #9C27B0;

$dark      : #393e46;
$dark-page : #222831;

$positive  : #21BA45;
$negative  : #C10015;
$info      : #31CCEC;
$warning   : #F2C037;