@import "../../css/quasar.variables.scss";

.edit-card {
  width: 300px;
  padding: 1rem;
}

.edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.edit-input {
  width: 100%;
}
